*~
.idea

Config/config.php


Web/Uploads/*


Sdk/Runtime/Cache/*
!Sdk/Runtime/Cache/.gitkeep
Sdk/Runtime/Data/*
!Sdk/Runtime/Data/.gitkeep
Sdk/Runtime/Logs/*
!Sdk/Runtime/Logs/.gitkeep
Sdk/Runtime/Session/*
!Sdk/Runtime/Session/.gitkeep
Sdk/Runtime/Temp/*
!Sdk/Runtime/Temp/.gitkeep

*.log

!.gitignore
!.gitkeep
!.htaccess
