<!-- Footer -->
<footer class="footer slate_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright">Copyright &copy; 2018.包头农科院 包头气象局 All rights reserved.</p>
            </div>

        </div>
    </div>
</footer>
</div>
</div>  <!--main-->
</div>
<!-- END Footer -->
<!-- All JavaScript libraries -->
<script src="__ASSETS__/js/jquery.js"></script>
<script src="__ASSETS__/js/bootstrap.min.js"></script>
<script src="__ASSETS__/js/main.js"></script>
</body>
</html>